<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Primary Meta Tags -->
    <title>Infinite Mondrian Art</title>
    <meta name="title" content="Infinite Mondrian Art">
    <meta name="description" content="Generative art project made with JavaScript"/>
    <link rel="icon" href="https://avatars.githubusercontent.com/u/39514595?s=32"/>
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mondrian-art.netlify.app/">
    <meta property="og:title" content="Infinite Mondrian Art">
    <meta property="og:description" content="Generative art project made with JavaScript">
    <meta property="og:image" content="https://cdn.dribbble.com/users/3800131/screenshots/17315331/media/fba91e10d3851332edd6d1405c95ce1e.png">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://mondrian-art.netlify.app/">
    <meta property="twitter:title" content="Infinite Mondrian Art">
    <meta property="twitter:description" content="Generative art project made with JavaScript">
    <meta property="twitter:image" content="https://cdn.dribbble.com/users/3800131/screenshots/17315331/media/fba91e10d3851332edd6d1405c95ce1e.png">
    <!-- Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <!-- Style -->
    <link rel="stylesheet" href="/src/assets/styles/style.css">
  </head>
  <body
    @mounted="init"
    @contextmenu.prevent
    @selectstart.prevent
    @dragstart.prevent
  >
    <ul
      class="container"
      :class="{ animate: !isLoading}">
      <li
        v-for="(block, blockIdx) in blocks" :key="blockIdx"
        class="block"
        :style="block.style"
      >
        <div
          v-for="(color, colorIdx) in block.colors" :key="colorIdx"
          :class="color"
        ></div>
      </li>
    </ul>

    <div
      class="v-cloak"
      :class="{ animate: !isLoading }"
    >
      <h1>Welcome to Infinite Mondrian Art</h1>
    </div>

    <script src="/src/assets/scripts/script.js" type="module"></script>
  </body>
</html>
