<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Primary Meta Tags -->
    <title>Infinite Mondrian Art Blocks</title>
    <meta name="description" content="Enjoy Mondrian Art Blocks."/>
    <link rel="icon" href="https://avatars.githubusercontent.com/u/39514595?s=32"/>
    <!-- Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <!-- Style -->
    <link rel="stylesheet" href="/src/assets/styles/style.css">
  </head>
  <body
    @mounted="init"
    @contextmenu.prevent
    @selectstart.prevent
    @dragstart.prevent
  >
    <ul :class="{ animate: !isLoading}">
      <li
        v-for="(block, idx) in blocks" :key="idx"
        :style="block.style"
      >
        <div
          v-for="innerBlock in block.innerBlockClassNames"
          :class="`${innerBlock}`"
        ></div>
      </li>
    </ul>

    <div
      class="v-cloak"
      :class="{ animate: !isLoading }"
    >
      <h1>Welcome to Infinite Mondrian Art Blocks</h1>
    </div>

    <script src="/src/assets/scripts/script.js" type="module"></script>
  </body>
</html>
